hr {
    margin: 1rem 0;
    border: none;
    border-top: 2px solid;
    color: black;
    opacity: 40%;
}

.dropdown-submenu > .dropdown-menu {
  display: none;
  margin-left: 0.3rem;
}
.dropdown-submenu.show > .dropdown-menu {
  display: block;
}
