hr {
    margin: 1rem 0;
    border: none;
    border-top: 2px solid;
    color: black;
    opacity: 40%;
}

/* Gör undermenyn */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -5px;
}
